.main{
  &__container{
    width: 100%;
  }
  &__title{
    z-index: 2;
    width: 100%;
    // width: 348px;
    color: cl(white);
    @include fz(35);
    position: absolute;
    margin-top: 110px;
    text-align: center;
    // margin-left: 5%;
    // margin-right: 5%;

    @include tab {
      @include fz(50);
      text-align: left;
      margin-top: 200px;
      margin-left: 5%;
    } 
    @include pc {
      @include fz(70);
      text-align: left;
      margin-top: 200px;
    }
  }
  &__lead{
    z-index: 2;
    width: 70%;
    // width: 252px;
    color: cl(white);
    @include fz(30);
    position: absolute;
    margin-top: 190px;
    text-align: center;
    margin-left: 15%;
    margin-right: 10%;

    @include tab {
      @include fz(30);
      text-align: left;
      margin-top: 300px;
      margin-left: 10%;
    }

    @include pc {
      @include fz(40);
      text-align: left;
      margin-top: 350px;
    }
  }

  // htmlに画像

    &__img{
      position: relative;
      z-index: 1;
      top: -100px;
      width: 100%;
      height: 599px;
      object-fit: cover;
    }

}